{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.collection == 'teaching' %}
      <p class="archive__item-meta">
        {% if post.type %}{{ post.type }}{% endif %}
        {% if post.venue %}{% if post.type %} <span aria-hidden="true">&middot;</span> {% endif %}<i>{{ post.venue }}</i>{% endif %}
        {% if post.date %} <span aria-hidden="true">&middot;</span> {{ post.date | date: "%Y" }}{% endif %}
      </p>
    {% elsif post.collection == 'publications' %}
      <p class="archive__item-meta">
        {% if post.venue %}Published in <i>{{ post.venue }}</i>{% endif %}
        {% if post.date %}{% if post.venue %} <span aria-hidden="true">&middot;</span> {% endif %}{{ post.date | date: "%Y" }}{% endif %}
      </p>
      {% if post.authors %}
        <p class="archive__item-meta archive__item-authors">
          {% for author in post.authors %}
            {% if forloop.index > 1 %}<span aria-hidden="true">, </span>{% endif %}
            {% if author.me %}<strong>{{ author.name }}</strong>{% else %}{{ author.name }}{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    {% elsif post.collection == 'talks' %}
      <p class="archive__item-meta">
        {{ post.type | default: "Talk" }}
        {% if post.venue %} <span aria-hidden="true">&middot;</span> <i>{{ post.venue }}</i>{% endif %}
        {% if post.location %} <span aria-hidden="true">&middot;</span> {{ post.location }}{% endif %}
        {% if post.date %} <span aria-hidden="true">&middot;</span> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% endif %}
      </p>
    {% elsif post.date %}
      <p class="archive__item-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if include.excerpt_source == "first_paragraph" and post.content %}
      {% assign excerpt_paragraph = post.content | markdownify | split: "</p>" | first | append: "</p>" %}
      <div class="archive__item-excerpt" itemprop="description">{{ excerpt_paragraph }}</div>
    {% elsif post.collection == 'publications' and post.content %}
      <div class="archive__item-excerpt" itemprop="description">{{ post.content | markdownify }}</div>
    {% elsif post.excerpt and site.read_more != 'enabled' %}
      <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <div class="archive__item-excerpt" itemprop="description">
        <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }} <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read more</a></strong></p>
      </div>
    {% endif %}

    {% include scholarly-resource-links.html item=post %}

  </article>
</div>
